@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.Home{
  display: flex; justify-content: center; align-items: center;
}

.HomeBody{
  position: relative;
  width: 100%;
  height: 100vh;
  min-width: 260px;
  min-height: 400px;
  display: flex;
  flex-direction: column; align-items: center; justify-content: space-between;
}

.white--field{
  background-color: white !important;
  color: gray !important;
}
.black--field{
  background-color: black !important;
  color: silver !important;
}

.field--text{
  font-weight: 700;
  letter-spacing: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; align-items: center; justify-content: center;
  font-size: 7rem;
  color: gray;
  width: 220px;
  height: 220px;
  padding: 1rem;
  border-radius: 16px;
  /* width: 100%; */
}
.field--section{
  transition: all ease 800ms;
  min-width: 260px;
  min-height: 260px;
  width: 100%;
  height: 100%;
  display: flex; flex-direction: column ; align-items: center ;justify-content: center;
}

.counter--section{
  border-bottom: 2px solid #dddddd;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  display: flex; flex-direction: row; justify-content: center ; align-items: center;
  background-color: beige;
  padding: 0.1rem 0rem;
  gap: 0.2rem;
}
.options--section{
  border-top: 2px solid #dddddd;
  width: 100%;
  display: flex; flex-direction: row; justify-content: center ; align-items: center;
  background-color: beige;
  padding: 0.4rem 0rem;
  gap: 0.4rem;

}
.option--button{
  font-size: 1.3rem;
  padding: 0.4rem;
  color: #333333;
  border: 2px solid gray;
  border-radius: 25px;
}